
name: flask-apispec

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flask-apispec flask

      - name: Test initialization
        run:
          python -c "from flask import Flask; app = Flask(__name__); from flask_apispec import use_kwargs, marshal_with"
